.caraouselBorder{
    width: 100%;
    margin: 10px 20px;
    border: 2px solid black;
    height: 500px;
    padding: 10px;
}
.titleBar{
    height: 75px;
    border: 1px solid blue;
    flex-direction: row;
}
#title{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid grey;
    width: 35%;
    height: 70%;
}
.caraouselBody{
    flex-direction: row;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.caraouselBody #leftBtn, #rightBtn{
    width: 10%;
    padding: 10px;
    height: 70%;
    cursor: pointer;
    background-color: #c5c4c4;
}
.caraouselContainer{
    width: 80%;
    text-align: center;
    height: 80%;
    border: 1px solid red;
}

.carousel-container {
    width: 100%; /* Set the width of the container as needed */
    overflow: hidden;
    white-space: nowrap;
  }
  
  .carousel {
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100px; /* Set the width of each item as needed */
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    height: 75%;
  }
  
  .prev-button, .next-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .prev-button:hover, .next-button:hover {
    background-color: #0056b3;
  }
  